**Assignment Question **

**Data Types and Structures Questions**

Q1. What are data structures, and why are they important?

- A data structure is a way to organize, manage, and store data in a computer so that it can be used efficiently.

It defines how data is arranged in memory and how operations such as insertion, deletion, searching, and updating can be performed.

Common data structures: arrays, lists, stacks, queues, trees, graphs, hash tables.

- Importance:

1. Efficient storage and access of data.

2. Helps in designing optimized algorithms.

3. Improves memory management.

4. Essential for solving complex problems (e.g., shortest path in graphs, scheduling in OS).

- Example:

1. A stack is used in undo operations in text editors.

2. A queue is used in printers or CPU task scheduling.

Q2. Explain the difference between mutable and immutable data types with examples.

- Mutable data types: Their content (values) can be changed after creation.

1. Example:

list1 = [1, 2, 3]
list1[0] = 10   # List is changed
print(list1)   # Output: [10, 2, 3]

- Immutable data types: Their content cannot be changed once created. Any modification creates a new object.

1. Example:

str1 = "hello"
str1 = str1 + " world"
print(str1)  # Output: "hello world"

Q3.  What are the main differences between lists and tuples in Python

- Main Differences between Lists and Tuples in Python


- List: Mutable → elements can be changed, added, or removed after creation.

- Tuple: Immutable → elements cannot be modified once created.

- Syntax

- List: Defined using square brackets → my_list = [1, 2, 3].

- Tuple: Defined using parentheses → my_tuple = (1, 2, 3).

- Methods

- List: Supports many methods like append(), remove(), pop(), extend(), sort().

- Tuple: Limited methods, mainly count() and index().

- Performance

- List: Slightly slower because of mutability (needs more memory and overhead).

- Tuple: Faster and more memory-efficient due to immutability.

- Use as Dictionary Keys

- List: Not hashable → cannot be used as dictionary keys.

- Tuple: Hashable (if all elements are immutable) → can be used as dictionary keys.

- Use Cases

- List: Best for data that changes frequently (e.g., dynamic datasets, user inputs).

- Tuple: Best for fixed data (e.g., coordinates, constant values).

Q4. Describe how dictionaries store data

1. Structure

- A dictionary in Python is an unordered collection of key–value pairs.

- Each entry maps a key to a value

2. Storage Mechanism (Hash Table)

- Internally, Python dictionaries use a hash table.

- When you insert a key–value pair:

- Python computes a hash value of the key using the hash() function.

- That hash determines the index (bucket) where the value will be stored.

- This allows fast lookups (average time complexity: O(1))

3. Key Properties

- Keys must be unique: Duplicate keys are not allowed (latest value overwrites).

- Keys must be immutable: e.g., strings, numbers, tuples (lists/dicts cannot be keys).

- Values can be anything: mutable or immutable, and duplicates are allowed.

5. Efficiency

- Because of hash tables, dictionaries provide:

- Fast insertion

- Fast deletion

- Fast search

Q5. Why might you use a set instead of a list in Python?
- A set in Python is an unordered collection of unique elements, while a list is an ordered collection that can contain duplicates.

- You might use a set instead of a list for the following reasons:

1. Uniqueness of Elements

- A set automatically removes duplicate values.
2. Faster Membership Testing

- Checking if an element exists in a set is much faster (O(1)) compared to a list (O(n)), because sets use hash tables internally.
3. Efficient Mathematical Operations

- Sets support operations like union, intersection, and difference, which are not directly available with lists.

Q6. What is a string in Python, and how is it different from a list?

- A string in Python is a sequence of characters enclosed in single quotes (' '), double quotes (" "), or triple quotes (''' ''' / """ """).

- Strings are immutable, meaning once created, they cannot be modified.

-> Differences from a List:

1. Mutability: Strings are immutable, lists are mutable.

2. Elements: Strings hold only characters, lists can hold elements of any data type.

3. Syntax: Strings use quotes ("Hello"), lists use square brackets ([1, 2, 3]).

Q7. How do tuples ensure data integrity in Python?

- A tuple in Python is an immutable ordered collection of elements.

- Once created, elements in a tuple cannot be changed, added, or deleted.

- This immutability ensures data integrity, meaning the stored data remains safe from accidental modifications.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that stores data in key–value pairs using a hashing function to map keys to indexes (buckets).

- In Python, a dictionary is implemented using a hash table.

--> How it works:

1. When a key is inserted, Python computes its hash value.

2. This hash determines where the key–value pair is stored in memory.

3. This allows fast lookup, insertion, and deletion (average O(1) time).

Q9. Can lists contain different data types in Python?

- Yes, Python lists are heterogeneous, meaning they can store elements of different data types (integers, strings, floats, objects, etc.) in the same list.

EXAMPLE ->
-  my_list = [1, "Hello", 3.14, True]
print(my_list)  # [1, 'Hello', 3.14, True]

Q10. Explain why strings are immutable in Python ?

- In Python, strings are immutable, meaning once a string is created, it cannot be changed.

- Any operation that seems to modify a string actually creates a new string object instead of changing the original one.

-->> Reasons for Immutability:

1. Memory Efficiency (String Interning):

- Python reuses immutable string objects through a process called string interning.

- If strings were mutable, this optimization would not be safe.

2. Security:

- Since strings are often used as keys in dictionaries and as identifiers, immutability prevents accidental or malicious modification.

3. Hashing:

- Immutability allows strings to be hashable, so they can be used as dictionary keys and set elements.

4. Consistency:

- Multiple references can point to the same string safely without worrying that one reference might change the data for all others

Example->
- s = "hello"
- s2 = s.upper()
- print(s)         
- print(s2)

Q11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries allow fast lookups by keys (average O(1) time), while lists require searching through elements (O(n)).

- Data can be stored as key–value pairs, making it easier to model real-world mappings (e.g., student ID → student name).

- Keys are unique, avoiding duplicates.

Example:
- students = {101: "Harsh", 102: "Amit"}
print(students[101])  # Fast access

Q12. Describe a scenario where using a tuple would be preferable over a list

- A tuple is preferable over a list when the data should remain constant and unchangeable.

- Since tuples are immutable, they protect data from accidental modification, ensuring data integrity.

-->> Scenarios:

1. Geographic Coordinates:

- Latitude and longitude values should not change once defined.

Example- >

-location = (28.61, 77.20)  # New Delhi coordinates
2. Configuration Settings:

- Fixed values like screen resolution or database connection parameters.
- config = ("localhost", 3306, "root")
3. Dictionary Keys:

- Tuples can be used as dictionary keys, whereas lists cannot (because lists are mutable).

- student = {("Harsh", 21): "CS Student"}

Q13. How do sets handle duplicate values in Python?


- Sets automatically eliminate duplicate values.

- When duplicates are inserted, only one copy is kept.

✅ Example:

- numbers = {1, 2, 2, 3}
- print(numbers)  # {1, 2, 3}

Q14. How does the “in” keyword work differently for lists and dictionaries?

- In lists: Checks if a value exists among the elements.

- In dictionaries: Checks if a key exists (not the value).

✅ Example:

- lst = [1, 2, 3]
- print(2 in lst)  # True

- dct = {"id": 1, "name": "Harsh"}
- print("id" in dct)     # True (checks keys)
- print("Harsh" in dct)  # False (values not checked)

Q15. Can you modify the elements of a tuple? Explain why or why not.

- No, elements of a tuple cannot be modified.

- Tuples are immutable, meaning once created, their contents cannot change.

- This ensures data integrity and makes tuples hashable.

✅ Example:

t = (1, 2, 3)
# t[0] = 10  # ❌ Error

Q16. What is a nested dictionary, and give an example of its use case.

- A nested dictionary is a dictionary containing another dictionary as its value.

- Useful for representing hierarchical data.

✅ Example:

students = {
  101: {"name": "Harsh", "age": 21},
  102: {"name": "Amit", "age": 22}
}
print(students[101]["name"])  # Harsh

Q17. Describe the time complexity of accessing elements in a dictionary.

- Accessing elements in a dictionary is on average O(1) (constant time) due to hash table implementation.

- In worst-case scenarios (hash collisions), it can degrade to O(n), but this is rare.

Q18. In what situations are lists preferred over dictionaries?

- Lists are preferred when:

- The data is ordered and sequential.

- Duplicate values are allowed.

- Index-based access is needed.

- The dataset is small and simple.

✅ Example:

fruits = ["apple", "banana", "mango"]
print(fruits[1])  # Access by index

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- A dictionary in Python is considered unordered because it stores data in key–value pairs using a hash table, not by position or index.

- The order of elements is not based on insertion (before Python 3.7 it was unpredictable; since Python 3.7+ it preserves insertion order but is still conceptually unordered).

- Effect on retrieval:

- You cannot access values by index (like in a list).

- Retrieval is done by key, not by position.

✅ Example:

student = {"id": 1, "name": "Harsh"}
print(student["name"])  # Access by key, not index

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

->  List:

- Ordered collection.

-Retrieval is done using index positions (starting from 0).

- Example:

- fruits = ["apple", "banana", "mango"]
print(fruits[1])  # banana


--> Dictionary:

- Unordered collection of key–value pairs.

- Retrieval is done using keys, not positions.

- Example:

student = {"id": 1, "name": "Harsh"}
print(student["name"])  # Harsh

**Practical Questions** --->>

Q1. Write a code to create a string with your name and print it

In [1]:
name = "Harsh Tripathi"
print(name)

Harsh Tripathi

Q2. Write a code to find the length of the string "Hello World"

In [2]:
text = "Hello World"
print(len(text))

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming"

In [43]:
text = "Python Programming"
print(text[:3])

Pyt

Q4. Write a code to convert the string "hello" to uppercase

In [44]:
text = "hello"
print(text.upper())

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [42]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [11]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

Q11. Create a tuple with the elements 100, 200, 300 and print it

In [12]:
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

Q12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [41]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

Q13. Find the minimum number in the tuple (10, 20, 5, 15)

In [40]:
nums = (10, 20, 5, 15)
print(min(nums))

5

Q14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [39]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

Q15. Create a tuple containing three fruits and check if "kiwi" is in it

In [38]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

Q16. Create a set with the elements 'a', 'b', 'c' and print it

In [17]:
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'a', 'c'}

Q17. Clear all elements from the set {1, 2, 3, 4, 5}

In [37]:
nums = {1, 2, 3, 4, 5}
nums.clear()
print(nums)

set()

Q18. Remove the element 4 from the set {1, 2, 3, 4}

In [36]:
nums = {1, 2, 3, 4}
nums.remove(4)
print(nums)

{1, 2, 3}

Q19. Find the union of two sets {1, 2, 3} and {3, 4, 5}

In [35]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

Q20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [34]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

Q21. Create a dictionary with the keys "name", "age", and "city", and print it

In [22]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

Q22. Add a new key-value pair "country": "USA" to the dictionary

In [23]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Access the value associated with the key "name"

In [33]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

Q24. Remove the key "age" from the dictionary

In [25]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

Q25. Check if the key "city" exists in the dictionary

In [32]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

Q26. Create a list, a tuple, and a dictionary, and print them all

In [27]:
my_list = [1, 2, 3]
my_tuple = (10, 20, 30)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (10, 20, 30) {'a': 1, 'b': 2}

Q27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [28]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[10, 13, 44, 45, 93]

Q28. Create a list with strings and print the element at the third index

In [45]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

Q29. Combine two dictionaries into one and print the result

In [30]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30. Convert a list of strings into a set

In [31]:
words = ["apple", "banana", "cherry", "apple"]
unique_words = set(words)
print(unique_words)

{'cherry', 'apple', 'banana'}